body {
    background: linear-gradient(135deg, #000000, #001f3f);
    color: #fff;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px; /* Adjust spacing between icon and text */
}

.navbar-icon {
    margin-right: 10px;
}

.icon-img {
    width: 40px;
    height: 40px;
}

.hero-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding-right: 20px; /* Adjust padding from the right */
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    max-width: 50%;
}

.right-side {
    max-width: 50%;
    text-align: right;
    padding-right: 20px; /* Add padding to the right side */
}

#drone-animation {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.background-image img {
    max-width: 100%;
    height: auto;
    opacity: 0.1; /* Adjust opacity as needed */
}
