<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>FUAVS</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="collapse navbar-collapse justify-content-end"
                        id="navbarSupportedContent"
                    >
                        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a href="{{ url_for('main.index') }}"
                                    class="nav-link fs-4 fw-bold "
                                    aria-current="page"
                                    href="#"
                                    >Home</a
                                >
                            </li>
                            {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link fs-4 fw-bold" href="{{ url_for('main.profile') }}">Profile</a>
                            </li>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link fs-4 fw-bold" href="{{ url_for('auth.login') }}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-4 fw-bold" href="{{ url_for('auth.signup') }}">Signup</a>
                            </li>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link fs-4 fw-bold" href="{{ url_for('auth.logout') }}">Logout</a>
                            </li>
                            {% endif %}
                    </div>
                </div>
            </nav>
    
            <div class="hero-body">
                <div class="container has-text-centered">
                   {% block content %}
                   {% endblock %}
                </div>
            </div>
    </body>
    
</html>
