{% extends "base.html" %}

{% block content %}
<div class="container-fluid back-image d-flex justify-content-center align-items-center"> <!-- Center content horizontally and vertically -->
    <div class="text-center">
        <div class="welcome-card mt-5">
            <h1 class="text-danger">Welcome, {{ name }}!</h1>
            <p>Welcome to our Drone Surveillance App. Explore the modules below.</p>
        </div>

        <div class="media-section mt-5">
            <h2>Your Media</h2>
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('main.view_images') }}" class="btn btn-success fs-3 mx-2">View Images</a>
                <a href="{{ url_for('main.view_videos') }}" class="btn btn-success fs-3 mx-2">View Videos</a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4 mb-4">
                <div class="card module-card" onmouseover="showDescription('faceTracking')" onmouseout="hideDescription('faceTracking')">
                    <img src="{{ url_for('static', filename='images/facetracking.jpg') }}" class="card-img-top" alt="Face Tracking">
                    <div class="card-body">
                        <h5 class="card-title">Face Tracking</h5>
                        <p class="card-text description" id="faceTrackingDescription">Face tracking allows the drone to track human faces. <br>Hover for more info.</p>
                        <a href="{{ url_for('face_tracking.connect_to_facetracker') }}">
                            <img src="{{ url_for('static', filename='images/right-arrow.png') }}" alt="Continue" class="continue-icon" id="faceTrackingIcon">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
              <div class="card module-card" onmouseover="showDescription('bodyTracking')" onmouseout="hideDescription('bodyTracking')">
                  <img src="{{ url_for('static', filename='images/bodyTracking.jpg') }}" class="card-img-top" alt="Body Tracking">
                  <div class="card-body">
                      <h5 class="card-title">Body Tracking</h5>
                      <p class="card-text description" id="bodyTrackingDescription">Face tracking allows the drone to track human faces. <br>Hover for more info.</p>
                      <a href="{{ url_for('face_tracking.connect_to_facetracker') }}">
                          <img src="{{ url_for('static', filename='images/right-arrow.png') }}" alt="Continue" class="continue-icon" id="bodyTrackingIcon">
                      </a>
                  </div>
              </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card module-card" onmouseover="showDescription('handGesture')" onmouseout="hideDescription('handGesture')">
                <img src="{{ url_for('static', filename='images/handGesture.jpg') }}" class="card-img-top" alt="Body Tracking">
                <div class="card-body">
                    <h5 class="card-title">Hand Gesture Control </h5>
                    <p class="card-text description" id="handGestureDescription">Face tracking allows the drone to track human faces. <br>Hover for more info.</p>
                    <a href="{{ url_for('face_tracking.connect_to_facetracker') }}">
                        <img src="{{ url_for('static', filename='images/right-arrow.png') }}" alt="Continue" class="continue-icon" id="handGestureIcon">
                    </a>
                </div>
            </div>
        </div>
        

        <div class="col-md-4 mb-4">
          <div class="card module-card" onmouseover="showDescription('keyPad')" onmouseout="hideDescription('keyPad')">
              <img src="{{ url_for('static', filename='images/keyPad.jpg') }}" class="card-img-top" alt="Body Tracking">
              <div class="card-body">
                  <h5 class="card-title">Keypad Control</h5>
                  <p class="card-text description" id="keyPadDescription">Face tracking allows the drone to track human faces. <br>Hover for more info.</p>
                  <a href="{{ url_for('face_tracking.connect_to_facetracker') }}">
                      <img src="{{ url_for('static', filename='images/right-arrow.png') }}" alt="Continue" class="continue-icon" id="keyPadIcon">
                  </a>
              </div>
          </div>
      </div>
      

      <div class="col-md-4 mb-4">
        <div class="card module-card" onmouseover="showDescription('fireDetecting')" onmouseout="hideDescription('fireDetecting')">
            <img src="{{ url_for('static', filename='images/fireDetection.jpg') }}" class="card-img-top" alt="Body Tracking">
            <div class="card-body">
                <h5 class="card-title">Fire Detection</h5>
                <p class="card-text description" id="fireDetectingDescription">Face tracking allows the drone to track human faces. <br>Hover for more info.</p>
                <a href="{{ url_for('face_tracking.connect_to_facetracker') }}">
                    <img src="{{ url_for('static', filename='images/right-arrow.png') }}" alt="Continue" class="continue-icon" id="fireDetectingIcon">
                </a>
            </div>
        </div>
    </div>
    

    <div class="col-md-4 mb-4">
      <div class="card module-card" onmouseover="showDescription('gunDetecting')" onmouseout="hideDescription('gunDetecting')">
          <img src="{{ url_for('static', filename='images/gunDetection.jpg') }}" class="card-img-top" alt="Body Tracking">
          <div class="card-body">
              <h5 class="card-title">Gun Detection</h5>
              <p class="card-text description" id="gunDetectingDescription">Face tracking allows the drone to track human faces. <br>Hover for more info.</p>
              <a href="{{ url_for('face_tracking.connect_to_facetracker') }}">
                  <img src="{{ url_for('static', filename='images/right-arrow.png') }}" alt="Continue" class="continue-icon" id="gunDetectingIcon">
              </a>
          </div>
      </div>
  </div>
  
          
            <!-- Add similar card structures for other modules -->
        </div>
    </div>
</div>

<script>
    function showDescription(module) {
        document.getElementById(module + "Description").style.display = "block";
        document.getElementById(module + "Icon").style.display = "inline-block";
    }

    function hideDescription(module) {
        document.getElementById(module + "Description").style.display = "none";
        document.getElementById(module + "Icon").style.display = "none";
    }
</script>
{% endblock %}
